<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Static Assets -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'styles/commander_dashboard.css' %}"> -->
    <link rel="stylesheet" href="{% static 'styles/pagination.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <title>{% block title %}ICARE{% endblock %}</title>
    {% block extra_css %}{% endblock %}  {# Page-specific styles #}
</head>

<body>  

    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% block content %} 
    {% endblock content %}

    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>

    
    {% block extra_js %}{% endblock %}

</body>
</html>
