    {% extends "main.html" %}


    {% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">

        <div>
            {% include 'data_manager/topic_component.html' %}
        </div>
        
        <div>
            <h5>{{room_count}} Forums Available</h5>
            <a href="{% url 'create-room' %}">Create Forum</a>

            {% include 'data_manager/feed_component.html' %}
             
        </div>

        <div>
            {% include 'data_manager/activity_component.html' %}
        </div>


{% endblock %}